body {
    
    background-color: #ffffff;
   }



h1 {
text-align: left;

}
h2 {
    text-align: left;
    
    }
    .rules {
font-family: cursive;
    }

.intro {
background-color: #DEB887;
text-align: left;

}   
#cashier{
	height:300px
  }
